<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDevApp</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body style="background-color:rgb(197, 201, 197)">
    <div id = "app">
        
        
            <!--Make table displaying entries-->
        <table border="1" width="100%" style="border-collapse: separate; background-color: rgb(166, 240, 188);">

            <!--Setup table columns-->
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Category</th>
            </tr>
            <form>
            <!--Create text fields for user to enter each piece of data per record-->
            <tr class="add-cell">
                <td>
                    <input type="text" class="textBox"  id="name" v-model="newRecord.name">
                </td>
                <td>
                    <input type="text" class="textBox"  id="address" v-model="newRecord.address">
                </td>
                <td>
                    <input type="text" class="textBox"  id="phoneNum" v-model="newRecord.phoneNum">
                </td>
                <td>
                    <input type="text" class="textBox"  id="email" v-model="newRecord.email">
                </td>
                <td>
                    <input type="text" class="textBox"  id="category" v-model="newRecord.category">
                </td>

                <!--Add new records to the database-->
                <td>
                    <input type="reset" value="Add" @click="addRecord()">
                </td>
            </tr>
            </form>

            <!-- Update/Delete -->              <!--The : is shorthand for v-bind:-->   <!--assign even-cell if index is even, odd-cell if odd-->
            <tr v-for="(record,index) in records" :class="(index % 2 == 0) ? 'even-cell' : 'odd-cell'">
                <td>
                    <input type="text" class="textBox" :id="[`name${index}`]" v-model="record.name">
                </td>
                <td>
                    <input type="text" class="textBox"  :id="[`address${index}`]" v-model="record.address">
                </td>
                <td>
                    <input type="text" class="textBox"  :id="[`phoneNum${index}`]" v-model="record.phoneNum">
                </td>
                <td>
                    <input type="text" class="textBox"  :id="[`email${index}`]" v-model="record.email">
                </td>
                <td>
                    <input type="text" class="textBox"  :id="[`category${index}`]" v-model='record.category' >
                </td>
                <td>
                    <input type="button" value="Update" @click="updateRecord(index);">&nbsp;
                    <input type="button" value="Delete" @click="deleteRecord(index)">
                </td>
            </tr>

        </table>



    </div>

    <script src="app.js" type="text/javascript"></script>
</body>
</html>
